.btn{
    background-color: none;
    padding: 6px 9px;
    text-decoration: none;
    padding: 6px 9px;
    border-radius: 6px;
}
.btn-outline-primary{
    border: 1px solid var(--primary);
    color: var(--primary);
}
.btn-outline-primary:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}
.mt-5{
    margin-top: 50px;
}
.card {
    position: unset;
    border: 2px solid #000;
    max-width: 480px;
    max-height: 600px;
    margin: auto;
    text-align: center;
}
.width-card{
    margin-top: 3%;
}
.width-card ul li{
    display: inline-block;
    margin: 2%;
}
.width-card ul .for-img{
    position: absolute;
    margin-top: 5%;
    height: 110px;
    width: 110px;
}
.width-card ul li .for-infos{
    position: absolute;
    width: fit-content;
    margin-right: -90px;
}
ul li{
    list-style: none;
}
.m-5{
    margin: 6% 0;
}
.grid ul{
    margin: 0 auto;
}
.grid ul li{
    display: inline-block;
    margin: 2%;
}
.more-infos{
    width: 100%;
    margin-top: -5%;
}
.more-infos ul{
    margin: 8%;
}
.more-infos ul li{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
.more-infos ul li a{
    font-size: 0.9rem;
    text-decoration: none;
    /* font-size: 22px; */
    margin-bottom: 7px;
    color: black !important;
    -webkit-print-color-adjust: exact;
}
.header{
    background-color: #0747AD !important;
    -webkit-print-color-adjust: exact;
    padding: 5px 0;
}
.header ul li{
    color: #FFF;
    list-style: none;
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
}
.header ul{
    text-align: left;
}
.header ul li{
    align-items: center;
    align-content: center;
}
.float-end{
    float: right;
    margin-right: 30px;
    width: 30%;
}
.float-start{
    width: auto;
}
.card_number{
    margin-bottom: 2px;
    font-size: 1rem;
}
.img-program{
    height: 50px;
    object-fit: contain;
    float: right;
    border: 1px solid #FFF;
}
.img-content{
    margin: 5% 0 5% -20%;
    height: 110px;
    width: 110px;
    object-fit: cover;
    border: 1px solid black;
}
/* .title {
    color: grey !important;
    -webkit-print-color-adjust: exact;
    font-size: 18px;
} */
.title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 60px;
    text-transform: uppercase;
    width: auto;
}
.bottom{
    margin-top: -6%;
    font-weight: lighter;
    color: gray;
    font-size: small;
}
.title-page-list a{
    color: var(--primary);
    font-weight: 500;
    font-size: 1.3rem;
}
.hr{
    display: none;
}
.top{
    border-top: 1px solid var(--gray);
    padding: 10px 0;
}
@media (min-width: 320px) and (max-width: 480px) {
    .img-program{
        height: 40px;
        object-fit: contain;
        float: right;
        border: 1px solid #FFF;
    }
    .card {
        border: 2px solid #000;
        max-width: 480px;
        max-height: 600px;
        margin-left: -70px;
        margin-right: -40px;
        text-align: center;
    }
    .width-card ul .for-img{
        position: absolute;
        margin-top: 5%;
        height: 70px;
        width: 70px;
    }
    .width-card ul li .for-infos{
        position: absolute;
        width: fit-content;
        margin-left: -30px;
    }
    .img-content{
        margin: 5% 0 5% -60%;
        height: 70px;
        width: 70px;
        object-fit: cover;
        border: 1px solid black;
    }
    .card_number{
        margin-bottom: 2px;
        font-size: 0.9rem;
    }
    .more-infos{
        margin-left: -5%;
    }
    .more-infos ul li{
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }
    .more-infos ul li a{
        /* font-size: 0.8rem; */
        text-decoration: none;
        font-size: 12px;
        margin-bottom: 7px;
        color: black !important;
        -webkit-print-color-adjust: exact;
    }
    .title{
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 45px;
        text-transform: uppercase;
        width: auto;
    }
    .nav{
        display: contents;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        background-color: var(--white);
        display: flex;
        overflow-x: auto;
        padding: 10px 0;
    }
    .nav__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 13px;
        color: var(--gray);
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }
    .nav__link:hover{
        background-color: var(--bg-light-gray);
    }
    .nav__link--active{
        color: var(--primary);
    }
    .nav__icon{
        font-size: 22px;
    }

}