.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border: 2px solid #000;
    max-width: 300px;
    margin: auto;
    text-align: center;
}
ul li{
    list-style: none;
}
.m-5{
    margin: 6% 0;
}
.grid ul{
    margin: 0 auto;
}
.grid ul li{
    display: inline-block;
    margin: 3%;
}
.more-infos{
    width: auto;
    margin-top: -5%;
}
.more-infos ul{
    margin: 5%;
    margin-left: -5%;
}
.more-infos ul li{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.more-infos ul li a{
    font-size: 1rem;
}
.header{
    background-color: #0747AD !important;
    -webkit-print-color-adjust: exact;
    padding: 5px 0;
}
.header ul li{
    color: #FFF;
    list-style: none;
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
}
.header ul{
    text-align: left;
}
.header ul li{
    align-items: center;
    align-content: center;
}
.float-end{
    float: right;
    margin-right: 30px;
}
.float-start{
    width: 50%;
}
.card_number{
    margin-bottom: 2px;
    font-size: 1.3rem;
    font-weight: bold;
}
.img-program{
    /* margin-right: 15px; */
    height: 50px;
    object-fit: contain;
    float: right;
    border: 1px solid #FFF;
    background-color: white;
}
.img-content{
    margin: 5% 0;
    width: 50%;
    height: 200px;
    object-fit: contain;
    padding: 0 10%;
}
.title {
    color: grey !important;
    -webkit-print-color-adjust: exact;
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 7px;
    color: black !important;
    -webkit-print-color-adjust: exact;
}
.bottom{
    margin-top: -9%;
    font-weight: lighter;
    color: gray;
    font-size: small;
}