:root{
    --background-color: #F3F6FF;
    --white: #FFF;
    --gray: rgba(128, 128, 128, 0.863);
    --primary: #0747AD;
    --secondary: #8d9da1;
    --muted: #64BFB3;
    --bg-light-gray: rgb(252, 252, 252);
    --red: rgb(180, 12, 0);  
}
.float-end{
    float:right;
}
.float-start{
    float: left;
}
.container{
    padding: 0 30px;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
body,
.body{
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
.header-content{
    background-image: linear-gradient(to bottom right, rgb(1, 64, 172), rgb(103, 198, 185));
    height: auto;
    width: 100%;
    color: var(--white);
    padding: 18px 0;
    margin-top:80px;
    position: unset;
}
.navbar{
    display: contents;
    width: 100%;
}
.navbar-items{
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: auto;
    overflow-x: auto;
    top: 0;
    width: 100%;
    padding: 8px 4px;
}
.navbar ul li{
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    width: 100%;
}
.header-icon{
    float: right;
    font-size: 2rem;
    color: var(--primary);
    margin-right: 30%;
    margin-top: -3.7%;
    
}
.bullet-menu{
    font-size: 1.8rem;
    float:  right;
    margin: 5px 25px 0 0;
}
.title, 
.subtitle{
    margin: 0 30px;
    width: auto;
}
.title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 60px;
    text-transform: uppercase;
    width: auto;
}
.subtitle{
    font-weight: lighter;
    font-size: 1.2rem;
}

/* SEARCH BAR MAIN */

.second-part-content{
    margin: 20px;
    padding: 15px;
    height: 50px;
    width: 1240px;
    background-color: var(--white);
    box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
    border-radius: 20px;
}
.second-part-content-auto{
    margin: 20px;
    padding: 15px;
    height: auto;
    width: 1240px;
    background-color: var(--white);
    box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
    border-radius: 20px;
}
.custom-container{
    float: left;
}
.bi-search{
    /* position: ; */
    margin-top: 12px;
    margin-left: 15px;
    color: var(--gray);
    display: none;
}
.search-main{
    height: 45px;
    width: 400px;
    background-color: rgba(206, 206, 206, 0.384);
    border-style: none;
    border-radius: 10px;
    padding: 0 15px;
    -webkit-tap-highlight-color: transparent;
}
.nav-link{
    color: inherit;
    text-decoration: none !important;
    -webkit-tap-highlight-color: transparent;
}
.link{
    position: unset;
    float: right;
}
.link ul li{
    list-style: none;
    display: inline-block;
}
.btn{
    background-color: none;
    padding: 6px 9px;
    text-decoration: none;
    padding: 6px 9px;
    border-radius: 6px;
}
.btn-danger{
    background-color:var(--red);
}
.btn-outline-primary{
    border: 1px solid var(--primary);
    color: var(--primary);
}
.btn-outline-primary:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
}
.btn-outline-secondary{
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
.btn-outline-secondary:hover{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
}
.btn-outline-muted{
    border: 1px solid var(--muted);
    color: var(--muted);
}
.btn-outline-muted:hover{
    background-color: var(--muted);
    border: 1px solid var(--muted);
    color: var(--white);
}
.col-md{
    width: 100%;
}
.fs-6{
    font-size: 12px;
}
.mt-5{
    margin-top: 5%;
}
.mt-3{
    margin-top: 3%;
}
.mt-2{
    margin-top: 2%;
}
.mb-5{
    margin-bottom: 100px; 
}
.title-page-list a{
    color: var(--primary);
    font-weight: 500;
    font-size: 1.3rem;
}
.list-content{
    padding: 0 3px;
}
.bg-white{
    height: auto;
    width: 800px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
    background-color: var(--white);
    padding: 20px 10px;
    margin-bottom: 10px;
}
.sidebar{
    display: contents;
    visibility: visible;
}
.sm-bg-white{
    display: flexbox;
    visibility: visible;
    height: auto;
    width: 350px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.247);
    background-color: var(--white);
    padding: 20px 10px;
    margin: 0 0 20px 20px;
    position: sticky;
    top: 100px;
    float: inline-end;
    right: 0;
    bottom: 20%;
}
.sm-bg-white .title-page-list{
    margin-left: 15px;
}
.sm-bg-white nav{
    margin: 0 15px;
}
.w-80{
    width: 60%;
    text-align: left;
    margin-left: 0;
}
/* .navbar{
    display: contents;
} */
.img-size{
    height: 80px;
    width: 80px;
    padding-right: 6px;
    border-right: 1px solid rgb(126, 126, 126);
    margin-top: -15px;
    border-radius: 0%;
}
.img-content{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 0%;
}
.profile-img-size{
    height: 200px;
    width: auto;
    border: 0;
}
.profile-img-content{
    width: auto;
    height: 200px;
    object-fit:contain;
    border: 0;
}
.name-and-details{
    position: unset;
    margin-top: -70px;
    margin-left: 120px;
}
.name, .group-name{
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 4px;
    width: max-content;
}
.details{
    font-weight: lighter;
    font-size: 0.8rem;
    color: gray;
}
.group-name-and-details{
    position: unset;
    margin-top: 0;
    margin-left: 10px;

}
.group-details{
    font-weight: lighter;
    font-size: 0.8rem;
    color: gray;
}
.more-details a{
    font-size: 2rem;
    color: var(--secondary);
    position: inherit;
    float: right;
    margin-top: -50px;
}
.group-more-details a{
    font-size: 2rem;
    color: var(--secondary);
    position: inherit;
    float: right;
    margin-top: -50px;
}
.footer-bg-white{
    display: none;
}
.btn-brand{
    background-image: linear-gradient(to right, rgb(1, 64, 172), rgb(103, 198, 185));
    height: auto;
    width: 100%;
    color: var(--white);
    border: none;
    /* border-radius: 10px; */
}
.btn-brand:hover{
    background-image: linear-gradient(to right, rgb(1, 64, 172), rgb(103, 198, 185));
    color: var(--white);
}
.btn-brand:active{
    background-image: linear-gradient(to right, rgb(1, 64, 172), rgb(103, 198, 185));
    color: var(--white);
}
.fs{
    font-size: 2rem;
}
.nav{
    display: none;
}

/* LOGIN */

.login-page{
    background-color: var(--bg-light-gray);
}
.login-card{
    width: 500px;
    margin: 100px auto;
    box-shadow: none;
}
.form-card{
    width: auto;
    padding: 20px;
    text-align: center;
}
.form-card h3{
    text-align: center;
    color: blue;
}
.form-card .link{
    text-align: center;
}
.form-check-input, .form-check-input:focus{
    -webkit-tap-highlight-color: transparent;
    -webkit-border-before-style: none;
    outline: none;
}

@media (min-width: 320px) and (max-width: 480px) {

    
    .footer-bg-white{
        display: contents;
    }
    .footer-bg-white .list{
        background-color: white;
        box-shadow: 3px 3px 12px var(--gray);
        border-radius: 20px 20px 0 0;
        padding: 12px 0;
        height: auto;
        width: 100%;
        bottom: 0;
        position: fixed;
        margin: 0 auto;
    }
    .list ul{
        margin: 0 auto;
        padding-bottom: 10px;
        margin-left: -20px;
    }
    .list ul li{
        list-style: none;
        display: inline-block;
        margin-left: -15px;
    }
    .list ul li a{
        color: var(--primary);
        font-size: 1.7rem;
        padding: 0 17px;
        text-align: center;
        text-transform: capitalize;
    }
    .list ul li .disable{
        color: var(--gray);
    }
    .tag-bottom{
        font-size: 0.68rem;
        font-weight: lighter;
        position: absolute;
        text-align: left;
        margin-top: 35px;
        margin-left: -28px;
    }
    .add{
        margin-left:-25px;
    }


    /* LOGIN */

    .login-page{
        background-color: #FFF;
        margin: 0 auto;
        width: 100%;
        padding: 0 10%;
        /* max-width: 80%; */
    }
    .login-card{
        width: 100%;
        /* max-width: 80%; */
        margin-top: 30%;
        box-shadow: none;
    }
    .form-card{
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    .footer-bg-white{
        display: contents;
    }
}
@media (max-width: 320px){

    .bg-white{
        height: auto;
        width: auto;
        padding: 15px 5px;
        box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
        background-color: var(--white);
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .bg-white-content{
        width: max-content;
        max-width: 95%;
        margin-bottom: -5%;
        padding: 2.5% 0;
    }
    .bg-white-content .nav-link{
        max-width: 95%;
    }
    .img-size{
        height: 70px;
        width: 70px;
        padding-right: 6px;
        border-right: 1px solid rgb(126, 126, 126);
        margin-top: -5px;
    }
    .img-content{
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin-top: 3px;
    }
    .profile-img-size{
        height: 200px;
        width: auto;
        border: 0;
    }
    .profile-img-content{
        width: auto;
        height: 200px;
        object-fit:contain;
        border: 0;
    }
    .name-and-details, .group-name-and-details{
        position: inherit;
        width: 95%;
    }
    .name-and-details{
        position: unset;
        /* margin-top: -55%; */
        margin-left: 85px;
        padding: 10px 0px;
        width: 90%;
    }
    .group-more-details a{
        font-size: 2rem;
        color: var(--secondary);
        position: inherit;
        float: right;
        margin-top: -45%;
    }
    .name{
        font-weight: 500;
        color: var(--primary);
        font-size: 0.8rem;
    }
    .details{
        font-weight: lighter;
        font-size: 0.8rem;
        color: gray;
        width: auto;
    }
    .more-details a{
        font-size: 2rem;
        color: var(--secondary);
        position: inherit;
        float: right;
        margin-top: -55px;
    }

    .settings-content{
        position: unset ;
        margin-top: 100px;
        padding: 10% 5%;
    }
    h2{
        color: var(--primary);
        text-align: center;
        margin: 0 auto;
    }
    .profile .img-content{
        background-color: var(--secondary);
        border-radius: 100%;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }
    .account-infos .user-name{
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--primary);
        margin: 6%;
        text-align: center;
        width: 100%;
        max-width: 90%;
        padding-bottom: 5%;
        border-bottom: 1px solid var(--secondary);
    }
    .account-infos ul{
        display: flexbox;
        margin: 0 auto;
    }
    .account-infos ul li{
        list-style: none;
        color: var(--primary);
        padding: 3% 0;
        font-size: 1.1rem;
    }
    .account-infos ul li .result{
        color: var(--secondary);
        margin-left: 5%;
        width: auto;
        max-width: 90%;
    }
    .statistic{
        width: auto;
        padding: 3%;
    }
    .bg-blue, .bg-yellow, .bg-green{
        width: auto;
        height: auto;
        padding: 3% 5% 5% 3%;
        border-radius: 8px;
        margin: 3% 0;
    }
    .bg-blue{
        background-color:#4377ca;
    }
    .bg-yellow{
        background-color:#51afa3;
    }
    .bg-green{
        background-color: rgb(87, 143, 87);
    }

    .data_1, .data_2, .data_3{
        color: white;
        margin: 0 auto;
        width: 100%;
    }
    .data_1 .data-content ul li,
    .data_2 .data-content ul li,
    .data_3 .data-content ul li{
        list-style: none;
    }
    .data_1 .data-content .data-title,
    .data_2 .data-content .data-title,
    .data_3 .data-content .data-title{
        font-size: large;
        font-weight: 500;
        text-transform: uppercase;
    }
    .data_1 .data-content .data-qty{
        font-size: 2rem;
        font-weight: bolder;
        /* text-align: right; */
        margin-right: 8%;
        color: white;
    }
    .data_2{
        color: var(--white);
    }
    .data_2 .data-content .data-qty{
        font-size: 2rem;
        font-weight: bolder;
        /* text-align: right; */
        margin-right: 8%;
        color: var(--white);
    }
    .data_3 .data-content .data-qty{
        font-size: 2rem;
        font-weight: bolder;
        /* text-align: right; */
        margin-right: 8%;
        color: var(--white);
    }
    .data_1 .data-content .data-hint,
    .data_2 .data-content .data-hint,
    .data_3 .data-content .data-hint
    {
        font-weight: lighter;
        font-size: 1rem;
        width: 80%;
        margin-top: 0;
    }

    
    /* REPORT */

    .report{
        margin-top: 18%;
    }
    .bg-primary-color{
        width: auto;
        height: auto;
        padding: 3% 5% 5% 3%;
        /* border-radius: 8px; */
        margin: 3% 0;
        background-color:#204c92;
    }
    .content-report{
        height: auto;
        width: 100%;
    }
    .title-report{
        font-size: 2rem;
        color: white;
        font-weight: bold;
        width: 85%;
        margin-left: 5%;
        padding: 5% 0 18% 0 ;
    }
    .hint-color-muted{
        color:#00ffdd;
    }
    .bg-white-top{
        width: auto;
        height: auto;
        padding: 6% 6% 10% 6%;
        border-radius: 32px 32px 0 0;
        margin: -10% 0;
        background-color: var(--white);
    }
    .report-action .bg-white-top ul{
        display: flexbox;
    }
    .report-action .bg-white-top ul li{
        list-style: none;
        margin: 3% 0;
    }
    .choose-action ul{
        margin-left: -24%;
    }
    .full{
        margin-left: -10%;
    }
    .choose-action ul li{
        list-style: none;
    }
    .row .form-label{
        color: var(--primary);
    }
    .col-md-6{
        width: 60%;
    }
    .col-md-4{
        width: 40%;
    }
    .row .btn{
        height: max-content;
        margin-top: 8.5%;
    }
}

@media screen and (max-width: 379px)
{

    
    /* REPORT */

    .report{
        margin-top: 18%;
    }
    .bg-primary-color{
        width: auto;
        height: auto;
        padding: 3% 5% 5% 3%;
        /* border-radius: 8px; */
        margin: 3% 0;
        background-color:#204c92;
    }
    .content-report{
        height: auto;
        width: 100%;
    }
    .title-report{
        font-size: 2rem;
        color: white;
        font-weight: bold;
        width: 80%;
        margin-left: 5%;
        padding: 5% 0 18% 0 ;
    }
    .hint-color-muted{
        color:#00ffdd;
    }
    .bg-white-top{
        width: auto;
        height: auto;
        padding: 6% 6% 10% 6%;
        border-radius: 32px 32px 0 0;
        margin: -10% 0;
        background-color: var(--white);
    }
    .report-action .bg-white-top ul{
        display: flexbox;
    }
    .report-action .bg-white-top ul li{
        list-style: none;
        margin: 3% 0;
    }
    .choose-action ul{
        margin-left: -24%;
    }
    .full{
        margin-left: -10%;
    }
    .choose-action ul li{
        list-style: none;
    }
    .row .form-label{
        color: var(--primary);
    }
    .col-md-6{
        width: 60%;
    }
    .col-md-4{
        width: 40%;
    }
    .row .btn{
        height: max-content;
        margin-top: 8.5%;
    }


    /* OTHER */
    body{
        background-color: var(--background-color);
    }
    .header-content{
        height: auto;
    }
    .program{
        width: 200px;
        margin-top: 0;
    }
    .second-part-content{
        padding: 15px 0 0 0;
        margin: 0;
        height: 100px;
        width: 100%;
        background-color: var(--white);
        box-shadow: 2px 2px 8px rgba(65, 65, 65, 0.1);
        border-radius:  0 0 20px 20px;
    }   
    .second-part-content-auto{
        margin: 20px;
        padding: 15px;
        height: 50px;
        width: 100%;
        background-color: var(--white);
        box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
        border-radius: 20px;
    } 
    .custom-container{
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    .bi-search{
        position: absolute;
        margin-top: 8px;
        margin-left: 15px;
        color: var(--gray)
    }
    .search-main{
        height: 40px;
        width: 200px;
        background-color: rgba(206, 206, 206, 0.384);
        border-style: none;
        border-radius: 10px;
        padding: 0 50px;
        -webkit-tap-highlight-color: transparent;
        -webkit-border-before-style: none;
    }
    .link{
        float: none;
        text-align: center;
        margin-left: -40px;
    }
    .bg-white{
        height: auto;
        width: auto;
        padding: 15px 5px;
        box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
        background-color: var(--white);
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .bg-white-content{
        width: max-content;
        max-width: 90%;
        margin-bottom: -5%;
        padding: 2.5% 0;
    }
    .bg-white-content .nav-link{
        max-width: 90%;
    }
    .img-size{
        height: 70px;
        width: 70px;
        padding-right: 6px;
        border-right: 1px solid rgb(126, 126, 126);
        margin-top: -5px;
    }
    .img-content{
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin-top: 3px;
    }
    .profile-img-size{
        height: 200px;
        width: auto;
        border: 0;
    }
    .profile-img-content{
        width: auto;
        height: 200px;
        object-fit:contain;
        border: 0;
    }
    .name-and-details, .group-name-and-details{
        position: inherit;
        width: 80%;
        max-width: 80%;
    }
    .name-and-details{
        position: relative;
        /* margin-top: -75%; */
        margin-left: 90px;
        padding: 8px 0px;
        width: 80%;

    }
    .group-more-details a{
        font-size: 2rem;
        color: var(--secondary);
        position: inherit;
        float: right;
        margin-top: -15%;
    }
    .name-and-details .name{
        font-weight: 500;
        color: var(--primary);
        width: 80%;
        max-width: 80%;
    }
    .details{
        font-weight: lighter;
        font-size: 0.8rem;
        color: gray;
        width: auto;
    }
    .more-details a{
        font-size: 2rem;
        color: var(--secondary);
        position: inherit;
        float: right;
        margin-top: -55px;
    }
    
    .bi-plus-square-fill{
        background-color: var(--white);
    }
    .mb-5{
        margin-bottom: 120px;
    }
}

@media (min-width: 380px) and (max-width: 480px)
{
    body{
        background-color: var(--background-color);
    }
    .program{
        width: 200px;
        margin-top: 0;
    }
    .header-content{
        height: auto;
    }
    .second-part-content{
        padding: 15px 0 0 0;
        margin: 0;
        height: 100px;
        width: 100%;
        background-color: var(--white);
        box-shadow: 2px 2px 8px rgba(65, 65, 65, 0.1);
        border-radius:  0 0 20px 20px;
    }    
    .second-part-content-auto{
        margin: 20px;
        padding: 15px;
        height: 100px;
        width: 100%;
        background-color: var(--white);
        box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
        border-radius: 20px;
    }
    .custom-container{
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    /* .bi-search{
        position: absolute;
        margin-top: 8px;
        margin-left: 15px;
        color: var(--gray)
    } */
    .search-main{
        height: 40px;
        width: 200px;
        background-color: rgba(206, 206, 206, 0.384);
        border-style: none;
        border-radius: 10px;
        padding: 0 18% 0 4%;
        -webkit-tap-highlight-color: transparent;
    }
    .link{
        float: none;
        text-align: center;
        margin-left: -40px;
    }
    .bg-white{
        height: auto;
        width: auto;
        padding: 20px 10px;
        box-shadow: 1px 1px 8px rgba(65, 65, 65, 0.1);
        background-color: var(--white);
        border-radius: 15px;
        margin-bottom: 10px;
    } 
    .img-size{
        height: 80px;
        width: max-content;
        padding-right: 6px;
        border-right: 1px solid rgb(126, 126, 126);
        
    }
    .img-content{
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    .profile-img-size{
        height: 200px;
        width: auto;
        border: 0;
    }
    .profile-img-content{
        width: auto;
        height: 200px;
        object-fit:contain;
        border: 0;
    }
    .name-and-details{
        position: relative;
        margin-top: -95px;
        margin-left: 100px;
        padding: 15px 6px;
    }
    .name{
        font-weight: 500;
        color: var(--primary);
    }
    .details{
        font-weight: lighter;
        font-size: 0.8rem;
        color: gray;
        /* width: 200px; */
    }
    .more-details a{
        font-size: 2rem;
        color: var(--secondary);
        position: inherit;
        float: right;
        margin-top: -50px;
    }
    .group-more-details a{
        font-size: 2rem;
        color: var(--secondary);
        position: inherit;
        float: right;
        margin-top: -45px;
    }
    .bi-plus-square-fill{
        background-color: var(--white);
    }
    
    .mb-5{
        margin-bottom: 120px;
    }

    
}

.nav__link{
    font-size: 20px;
    color: var(--primary);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
.nav__link:hover{
    background-color: var(--bg-light-gray);
}
.nav__link--active{
    color: var(--primary);
}
.nav__icon{
    font-size: 22px;
}
#mylinks{
    display: none;
}
.navbar{
    display: contents;
    width: 100%;
} 
.navbar-items{
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: auto;
    overflow-x: auto;
    top: 0;
    width: 100%;
    padding: 8px 4px;
}
.navbar ul li{
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    width: 100%;
}
.header-icon{
    float: right;
    font-size: 2rem;
    color: var(--primary);
    margin-right: 30px;
}
#mylinks{
    display: contents;
    border-top: 1px solid var(--primary);
    width: 100%;
}
#mylinks ul{
    float: right;
    /* width: 50%; */
}
#mylinks ul li{
    display: inline-flex;
    float: right;
    padding: 8px 0;
}
#mylinks ul li a{
    color: var(--primary);
    -webkit-tap-highlight-color: transparent;
    font-size: 1.2rem;
    text-align: right;
    text-transform: uppercase;
}
.navbar-brand{
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
    float: left;
}

/* * {
    box-sizing: border-box;
    position:relative;
} */

/*.third-part-content {
    overflow: hidden; 
    position: relative;
} */

.user-drawer {
    position: relative;
    width: 30px;
    padding: 0;
    margin-top: -370%;
    right: 0%;
    top: 0%;
    /* background-color: #f2f2f2; */
    /* border: 1px solid #bbbbbb; */
    max-height: max-content;
}

.user-drawer .active {
    left: 20px;
    transform: translateX(0%);
}

.userForm::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.user-menu {
    /* padding: 10px 15px; */
    padding: 0;
    position: absolute;
    height: auto;
    object-fit: contain;
}

/* .btn-default {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #bbbbbb;
    width: 150px;
} */

/* .btn-default:hover {
    cursor: pointer;
    box-shadow: inset 0 1px 3px 0 #bbbbbb;
}

.btngroup {
    text-align: right
} */

.userForm {
    position: absolute;
    /* right: -100%; */
    right: 30%;
    visibility: visible;
    transition: 0.6s;
}

.userForm.show {
    /* visibility: visible; */
    right: 30%;
}

.userForm.hide {
    visibility: hidden;
    /* right: -100%; */
    right: 25%;
    opacity: 0.1%;
}

.bi-left{
    font-size: 2rem;
    object-fit: cover;
    position: absolute;
    margin-top: 100%;
    margin-left: -10px;
    background-color: rgba(255, 255, 255, 0.1);
    /* padding: 33px 5px;  */
}
/* .more-details .custom-bi-left{
    margin-top: -17%;
} */
.ul-action{
    display: block;
    height: auto;
    padding: 20px;
    list-style: none;
}
.li-item{
    list-style: none;
    height: max-content;
    margin-bottom: 150%;
}
.item-action{
    background-color: #64BFB3;
    padding: 75% 75%;
    color: white;
    font-size: 1.2rem;
}
.item-action-delete{
    background-color: rgb(180, 12, 0);
    padding: 75% 75%;
    color: white;
    font-size: 1.2rem;
}
.blur{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--bg-light-gray);
    top: 30%;
    opacity: 50%;
    filter: blur(58px);
    -webkit-filter: blur(58px);
}


@media screen and (max-width: 480px) {
    .header-content{
        background-image: linear-gradient(to bottom right, rgb(1, 64, 172), rgb(103, 198, 185));
        height: auto;
        width: 100%;
        color: var(--white);
        padding: 18px 0;
        position: unset;
        margin-top: 80px;
    }
    .title{
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 45px;
        text-transform: uppercase;
        width: auto;
    }
    .bi-search{
        display: none;
        /* position: inherit;
        margin-left: 30px; */
    }
    .search-main{
        -webkit-tap-highlight-color: transparent;
        -webkit-border-before-style: 0;
        -webkit-border-before-color: transparent;
        padding: 0 18% 0 4%;
    }
    .name-and-details{
        position: inherit;
        width: 70%; 
        /* max-width: max-content; */
    }
    .group-name-and-details{
        position: inherit;
        width: 100%;
    }
    .name-and-details .name{
        width: auto;
    }
    .img-size{
        margin-top: 0.5%;
    }
    .details{
        width: auto;
    }
    .link{
        position: inherit;
    }
    .top{
        border-top: 1px solid var(--gray);
        padding: 10px 0;
    }
    .hr{
        display: none;
    }
    .name, .group-name{
        max-width: 90%;
        width: max-content;
    }
    .group-name{
        max-width: 90%;
    }
    .more-details a, .group-more-details a{
        position: inherit;
    }
    /* .bg-white{
        padding: 20px 25px 20px 10px;
    } */
    .bg-white-content{
        width: max-content;
        max-width: 70%;
        margin-bottom: -5%;
        padding: 2.5% 0;
    }
    .bg-white-content .nav-link{
        max-width: 70%;
    }
    .linked{
        float: none;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-left: -40px;
    }
    .navbar{
        display: contents;
        width: 100%;
        overflow-x: auto;
    } 
    .navbar-items{
        position: fixed;
        background-color: var(--white);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        height: auto;
        overflow-x: auto;
        top: 0;
        width: 100%;
        padding: 8px 4px;
    }
    .navbar ul li{
        display: inline;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        white-space: nowrap;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
        width: 100%;
    }
    
    .header-icon{
        float: right;
        font-size: 2rem;
        color: var(--primary);
        margin-right: 30px;
        align-items: center;
        margin-top: 5px;
    }
    #mylinks{
        display: contents;
        border-top: 1px solid var(--primary);
        width: 100%;
    }
    #mylinks ul{
        float: right;
        /* width: 50%; */
    }
    #mylinks ul li{
        display: inline-flex;
        float: right;
        padding: 8px 0;
    }
    #mylinks ul li a{
        color: var(--primary);
        -webkit-tap-highlight-color: transparent;
        font-size: 1.2rem;
        text-align: right;
        text-transform: uppercase;
    }
    .navbar-brand{
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        color: var(--primary);
        float: left;
    }
    .fs-5{
        font-size: 1rem;
    }
    .sidebar{
        display: none;
        visibility: hidden;
    }
    .sm-bg-white{
        visibility: hidden;
        display: none;
    }
    .nav{
        display: contents;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        background-color: var(--white);
        display: flex;
        overflow-x: auto;
        padding: 10px 0;
    }
    .nav__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 13px;
        color: var(--gray);
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }
    .nav__link:hover{
        background-color: var(--bg-light-gray);
    }
    .nav__link--active{
        color: var(--primary);
    }
    .nav__icon{
        font-size: 22px;
    }


        
    .user-drawer {
        position: relative;
        width: 30px;
        padding: 0;
        margin-top: -370%;
        right: 10%;
        top: 0%;
        /* background-color: #f2f2f2; */
        /* border: 1px solid #bbbbbb; */
        max-height: max-content;
    }

    .user-drawer .active {
        left: 20px;
        transform: translateX(0%);
    }

    .userForm::after {
        content: "";
        clear: both;
        display: table;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .user-menu {
        /* padding: 10px 15px; */
        padding: 0;
        position: absolute;
        height: auto;
        object-fit: contain;
    }

    /* .btn-default {
        background-color: #fff;
        padding: 10px;
        border: 1px solid #bbbbbb;
        width: 150px;
    } */

    /* .btn-default:hover {
        cursor: pointer;
        box-shadow: inset 0 1px 3px 0 #bbbbbb;
    }

    .btngroup {
        text-align: right
    } */

    .userForm {
        position: absolute;
        /* right: -100%; */
        right: 19%;
        visibility: visible;
        transition: 0.6s;
    }

    .userForm.show {
        /* visibility: visible; */
        right: 19%;
    }

    .userForm.hide {
        visibility: hidden;
        /* right: -100%; */
        right: 15%;
        opacity: 0.1%;
    }

    .bi-left{
        font-size: 2rem;
        object-fit: cover;
        position: absolute;
        margin-top: 70%;
        margin-left: -10px;
        background-color: rgba(255, 255, 255, 0.1);
        /* padding: 33px 5px;  */
    }
    .more-details .custom-bi-left{
        margin-top: -17%;
    }
    .ul-action{
        display: block;
        height: auto;
        padding: 20px;
        list-style: none;
    }
    .li-item{
        list-style: none;
        height: max-content;
        margin-bottom: 150%;
    }
    .item-action{
        background-color: #64BFB3;
        padding: 75% 75%;
        color: white;
        font-size: 1.2rem;
    }
    .item-action-delete{
        background-color: rgb(180, 12, 0);
        padding: 75% 75%;
        color: white;
        font-size: 1.2rem;
    }

    .settings-content{
        position: unset ;
        margin-top: 100px;
        padding: 10% 5%;
    }
    h2{
        color: var(--primary);
        text-align: center;
        margin: 0 auto;
    }
    .profile .img-content{
        background-color: var(--secondary);
        border-radius: 100%;
        height: 100px;
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }
    .account-infos .user-name{
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--primary);
        margin: 6%;
        text-align: center;
        width: 100%;
        max-width: 90%;
        padding-bottom: 5%;
        border-bottom: 1px solid var(--secondary);
    }
    .account-infos ul{
        display: flexbox;
        margin: 0 auto;
    }
    .account-infos ul li{
        list-style: none;
        color: var(--primary);
        padding: 3% 0;
        font-size: 1.1rem;
    }
    .account-infos ul li .result{
        color: var(--secondary);
        margin-left: 5%;
        width: auto;
        max-width: 90%;
    }
    .statistic{
        width: auto;
        padding: 3%;
    }
    .bg-blue, .bg-yellow, .bg-green{
        width: auto;
        height: auto;
        padding: 3% 5% 5% 3%;
        border-radius: 8px;
        margin: 3% 0;
    }
    .bg-blue{
        background-color:#4377ca;
    }
    .bg-yellow{
        background-color:#51afa3;
    }
    .bg-green{
        background-color: rgb(87, 143, 87);
    }

    .data_1, .data_2, .data_3{
        color: white;
        margin: 0 auto;
    }
    .data_1 .data-content ul li,
    .data_2 .data-content ul li,
    .data_3 .data-content ul li{
        list-style: none;
    }
    .data_1 .data-content .data-title,
    .data_2 .data-content .data-title,
    .data_3 .data-content .data-title{
        font-size: large;
        font-weight: 500;
        text-transform: uppercase;
    }
    .data_1 .data-content .data-qty{
        font-size: 2rem;
        font-weight: bolder;
        /* text-align: right; */
        margin-right: 8%;
        color: white;
    }
    .data_2{
        color: var(--white);
    }
    .data_2 .data-content .data-qty{
        font-size: 2rem;
        font-weight: bolder;
        /* text-align: right; */
        margin-right: 8%;
        color: var(--white);
    }
    .data_3 .data-content .data-qty{
        font-size: 2rem;
        font-weight: bolder;
        /* text-align: right; */
        margin-right: 8%;
        color: var(--white);
    }
    .data_1 .data-content .data-hint,
    .data_2 .data-content .data-hint,
    .data_3 .data-content .data-hint
    {
        font-weight: lighter;
        font-size: 1rem;
        width: 80%;
        margin-top: 0;
    }

    /* REPORT */

    .report{
        margin-top: 18%;
    }
    .bg-primary-color{
        width: auto;
        height: auto;
        padding: 3% 5% 5% 3%;
        /* border-radius: 8px; */
        margin: 3% 0;
        background-color:#204c92;
    }
    .content-report{
        height: auto;
        width: 100%;
    }
    .title-report{
        font-size: 2rem;
        color: white;
        font-weight: bold;
        width: 60%;
        margin-left: 5%;
        padding: 5% 0 18% 0 ;
    }
    .hint-color-muted{
        color:#00ffdd;
    }
    .bg-white-top{
        width: auto;
        height: auto;
        padding: 6% 6% 10% 6%;
        border-radius: 32px 32px 0 0;
        margin: -10% 0;
        background-color: var(--white);
    }
    .report-action .bg-white-top ul{
        display: flexbox;
    }
    .report-action .bg-white-top ul li{
        list-style: none;
        margin: 3% 0;
    }
    .choose-action ul{
        margin-left: -24%;
    }
    .full{
        margin-left: -10%;
    }
    .choose-action ul li{
        list-style: none;
    }
    .row .form-label{
        color: var(--primary);
    }
    .col-md-6{
        width: 60%;
    }
    .col-md-4{
        width: 40%;
    }
    .row .btn{
        height: max-content;
        margin-top: 8.5%;
    }
}


.settings-content{
    position: unset;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 0 3%;
}
h2{
    color: var(--primary);
    text-align: center;
}
.profile .img-content{
    background-color: var(--secondary);
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-left: 5%;
    margin: 0 auto;
}
.account-infos .user-name{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary);
    margin: 3% 6%;
    text-align: center;
    width: 100%;
    max-width: 90%;
    padding-bottom: 3%;
    border-bottom: 1px solid var(--secondary);
}
.account-infos ul{
    display: flexbox;
    margin: 0 auto;
}
.account-infos ul li{
    list-style: none;
    color: var(--primary);
    padding: 1% 0;
    font-size: 1.1rem;
}
.account-infos ul li .result{
    color: var(--secondary);
    margin-left: 3%;
    width: auto;
    max-width: 90%;
}
.statistic{
    width: auto;
    padding: 3%;
}
.bg-blue, .bg-yellow, .bg-green{
    width: auto;
    height: auto;
    padding: 3%;
    border-radius: 8px;
    margin: 3% 0;
}
.bg-blue{
    background-color:#4377ca;
}
.bg-yellow{
    background-color:#51afa3;
}
.bg-green{
    background-color: rgb(87, 143, 87);
}
.data_1, .data_2, .data_3{
    color: white;
    margin: 0 auto;
}
.data_1 .data-content ul li,
.data_2 .data-content ul li,
.data_3 .data-content ul li{
    list-style: none;
}
.data_1 .data-content .data-title,
.data_2 .data-content .data-title,
.data_3 .data-content .data-title{
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
}
.data_1 .data-content .data-qty{
    font-size: 2rem;
    font-weight: bolder;
    /* text-align: right; */
    margin-right: 8%;
    color: white;
}
.data_2{
    color: var(--white);
}
.data_2 .data-content .data-qty{
    font-size: 2rem;
    font-weight: bolder;
    /* text-align: right; */
    margin-right: 8%;
    color: var(--white);
}
.data_3 .data-content .data-qty{
    font-size: 2rem;
    font-weight: bolder;
    /* text-align: right; */
    margin-right: 8%;
    color: var(--white);
}
.data_1 .data-content .data-hint,
.data_2 .data-content .data-hint,
.data_3 .data-content .data-hint
{
    font-weight: lighter;
    font-size: 1rem;
    width: 80%;
    margin-top: 0;
}



/* REPORT */

/* .report{
    margin-top: 1%;
} */
.bg-primary-color{
    width: auto;
    height: auto;
    padding: 3% 5% 5% 3%;
    /* border-radius: 8px; */
    margin: 3% 0;
    background-color:#204c92;
}
.content-report{
    height: auto;
    width: 100%;
}
.title-report{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    /* width: 60%; */
    margin-left: 5%;
    padding: 5% 0 8% 0 ;
}
.hint-color-muted{
    color:#00ffdd;
}
.bg-white-top{
    width: auto;
    height: auto;
    padding: 6% 6% 10% 6%;
    border-radius: 32px 32px 0 0;
    margin: -10% 0;
    background-color: var(--white);
}
.report-action .bg-white-top ul{
    display: flexbox;
}
.report-action .bg-white-top ul li{
    list-style: none;
    margin: 1% 0;
}
/* .choose-action ul{
    margin-left: -2.5% ;
}
.full{
    margin-left: 0;
} */
.choose-action ul li{
    list-style: none;
}
.row .form-label{
    color: var(--primary);
}
.col-md-6{
    width: 60%;
}
.col-md-4{
    width: 40%;
}
.row .btn{
    height: max-content;
    /* margin-top: 2.5%; */
}

/* .admin ul{
    
} */
.admin ul li{
    list-style: none;
    display: inline-block;
}
.ml-1{
    margin-left: 10px;
}
.hint{
    text-align: center;
    margin: 0 auto;
    color: var(--secondary)
}